<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      <%= render 'profile' %>
    </div>
    
    <div class="col-6">
      <%= render 'feed' %>
    </div>

    <div class="col-3">
      <%= render 'trends' %>
    </div>

  </div>
</div>